.signUp3 {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.signUp3-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.signUp3-hello {
    font-family: "Futura";
    font-size: 1.8em;
    margin-top: 10%;
    align-self: center;
}

.signUp3-hello2 {
    font-family: "Futura";
    font-size: 1.2em;
    align-self: center;
    text-align: center;
    margin-bottom: 1%;
    color: rgb(100, 100, 100);
}

.type {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 33vh;
    padding: 3%;
    margin: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    border-radius: 10px;
}

.type#regular {
    background-color:rgba(216, 58, 99, 0.6);
}
.type#extra {
    background-color: rgba(127, 24, 51, 0.6);
}

.type#regular:active {
    background-color:rgba(216, 58, 99, 0.9);
    color: white;
}
.type#extra {
    background-color: rgba(127, 24, 51, 0.6);
}

.typeTitle {
    display: flex;
    font-size: 1.5em;
    font-family: "Futura";
    font-weight: bold;
}

.signUp3-goBack {
    width: 60vw;
    height: 7vh;
    margin-top: 0%;
    font-size: 1.2em;
    font-family: "Futura";
    color: rgb(112, 62, 188);
    opacity: 0.6;
    text-decoration: none;
}


.typeImage {
    height: 14vh;
    margin: 10%;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.typeDesc {
    margin-top: 2%;
    font-size: 1.1em;
    font-family: "Futura";
}

.typePrice {
    font-family: "Futura";
    font-style: italic;
    margin-top: 5%;
}

/* SIGNUP PAGE FORWARD AND BACKWARD BUTTONS */ 

.signUp3-submit {
    font-size: 1.5em;
    color: rgb(112, 62, 188);
    font-weight: bold;
    margin-left: 45%;
    font-family: "Futura";
    margin-top: 5%;
}

.signUp3-goBack {
    font-size: 1.2em;
    opacity: 0.6;
    font-family: "Futura";
    text-decoration: none;
    color: rgb(112, 62, 188);
    min-width: 25vw;
    margin-top: 5%;
}