html, body {
	margin: 0;
	padding: 0;
}

.signUp2 {
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signUp2-hello {
    font-family: "Futura";
    font-size: 1.8em;
    margin: 10%;
    margin-top: 15%;
}

.signUp2-hello2 {
    font-family: "Futura";
    font-size: 1.3em;
    text-align: center;
    margin: 5%;
    margin-top: 0%;
    color: rgb(100, 100, 100);
}

.signUp2-form {
    max-width: 100vw;
    margin: 10%;
    margin-top: 0%;
    /* margin-top: 18%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.signUp2-input {
    width: 70vw;
    height: 2vh;
    padding: 3%;
    margin-top: 3%;
    font-size: 1.2em;
    font-family: "Futura";
    font-color: black;
    border: 0px;
    border-bottom: solid 1px;
    border-color: rgb(112, 62, 188);
}

.signUp2-input:focus {
    border: 0px;
    border-bottom: solid 3px;
    border-color: rgb(112, 62, 188);
    outline: none;
}


/* SIGNUP PAGE FORWARD AND BACKWARD BUTTONS */ 

.signUp2-submit {
    font-size: 1.5em;
    color: rgb(112, 62, 188);
    font-weight: bold;
    margin-left: 45%;
    font-family: "Futura";
    margin-top: 5%;
}

.signUp2-goBack {
    font-size: 1.2em;
    opacity: 0.6;
    font-family: "Futura";
    text-decoration: none;
    color: rgb(112, 62, 188);
    min-width: 25vw;
    margin-top: 5%;
}

