.signUp4 {
    width: 100%;
    height: 100%

}

.signUp-hello2 {
    font-family: "Futura";
    font-size: 1.3em;
    margin: 5%;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 30%;
    color: rgb(100, 100, 100);
}

.signUp4-form {
    width: 70%;
    margin: 15%;
}
.signUp4-input {
    width: 60vw;
    height: 2vh;
    padding: 3%;
    margin: 3%;
    font-size: 1.2em;
    font-family: "Futura";
    font-color: black;
    border: 0px;
    border-bottom: solid 1px;
    border-color: rgb(112, 62, 188);
}

.signUp4-input:focus {
    border: 0px;
    border-bottom: solid 3px;
    border-color: rgb(112, 62, 188);
    outline: none;
}

.signUp-dayBy {
    width: 60vw;
    height: 5vh;
    padding: 3%;
    margin: 3%;
    margin-top: 15%;
    font-size: 1em;
    font-family: "Futura";
    font-color: black;
}

.signUp4-submit {
    width: 60vw;
    height: 7vh;
    margin-top: 5%;
    margin: 5%;
    font-size: 1.5em;
    font-family: "Futura";
    color: rgb(112, 62, 188);
    font-weight: bold;
}