.signUp1 {
    width: 100%;
    height: 100%

}

.signUp1-hello {
    font-family: "Futura";
    font-size: 2em;
    margin-left: 11%;
    margin-top: 40%;
    width: 78%;
}

.signUp1-hello2 {
    font-family: "Futura";
    font-size: 1.3em;
    width: 80%;
    margin-top: 5%;
    text-align: center;
    margin-left: 10%;
    color: rgb(150, 150, 150);
}

.signUp1-form {
    max-width: 100vw;
    margin: 10%;
    margin-top: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.signUp1-input {
    width: 70vw;
    height: 2vh;
    padding: 3%;
    margin-top: 12%;
    font-size: 1.2em;
    font-family: "Futura";
    font-color: black;
    border: 0px;
    border-bottom: solid 1px;
    border-color: rgb(112, 62, 188);
}

.signUp1-input:focus {
    border: 0px;
    border-bottom: solid 3px;
    border-color: rgb(112, 62, 188);
    outline: none;
}

.signUp1-submit {
    width: 60vw;
    background-color: rgba(112, 62, 188, 0.2);
    border-radius: 10px;
    height: 7vh;
    margin: 5%;
    margin-top: 30%;
    font-size: 1.5em;
    font-family: "Futura";
    color: rgb(112, 62, 188);
    font-weight: bold;
}

.signUp1-submit:active {
    background-color: rgba(112, 62, 188, 0.5);
}

.signUp1-goBack {
    /* width: 60vw; */
    height: 7vh;
    margin-top: 5%;
    /* margin-left: 40%; */
    font-size: 1.3em;
    font-family: "Futura";
    color: rgb(112, 62, 188);
    opacity: 0.6;
    text-decoration: none;
}